<%= form_with(model: @post, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3><%= @post.errors.count %>件のエラーがあります。</h3>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post_content">
    <%= form.label :content, "いまの気持ちをTweet！" %>
    <%= form.text_area :content %>
  </div>
  <p><%= form.submit "ツイートする" %></p>
<% end %>
<p class="back"><%= link_to "back to list", posts_path %></p>
